*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: white;

    
}
.main h1{
    font-size: 30px;
    padding: 10px 50px;
    margin: 0 10px;
    
}
.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 50px;
     
}
.parent div{
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    width: 375px;

    
}
.Page1{
    background: linear-gradient(rgb(250, 250, 250, 0.8), rgba(250, 250, 250, 0.5));
    position: relative;
    bottom: 168px;
    padding: 20px;
    
}
.Page1 h2{
    font-size: 15px;
    color: blue;
}
.Page2{
    background: linear-gradient(rgb(250, 250, 250, 0.8), rgba(250, 250, 250, 0.5));
    position: relative;
    bottom: 168px;
    padding: 20px;
    
}
.Page2 h2{
    font-size: 15px;
    color: blue;
}
.Page3{
    background: linear-gradient(rgb(250, 250, 250, 0.8), rgba(250, 250, 250, 0.5));
    position: relative;
    bottom: 168px;
    padding: 20px;
    

}
.Page3 h2{
    font-size: 15px;
    color: blue;
}
.parent div img{
    border: none;
    border-radius: 20px;
}
.pr{
    display: flex;
    justify-content: space-around;
    
}
#sp{
    font-size: 20px;
    
}
#bt{
    padding: 15px;
    background: lightcoral;
    color: black;
}
.real, .contact{
    display: flex;
    justify-content: space-between;
    margin: 70px 20px;
}
.about p, .questions p{
    margin: 10px 0;
}
.lorem{
    font-size: 1.5rem;
}
.lorem button{
    padding: 10px;
    margin: 20px;
    background: transparent;
}
.experience{
    display: flex;
    flex-direction: row;
}
.work, .rental, .deals{
    margin: 0 15px;
}
.questions h1{
    margin: 0 0 20px 0;
}
.form{
    margin: 50px 0 0 0;
    font-size: 1.3rem;
}
.form a{
    color: orange;
}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 10px;
}
.input{
    display: flex;
    flex-direction: column;
}
.form button{
    padding: 10px 40px;
    margin: 10px;
    background: orangered;
}
.form p{
    font-size: 0.7rem;
    margin: 0 0 0 10px;
}
@media screen and (min-width:0) and (max-width:750px) {
    h1{
        font-size: 1.2rem;
    }
    .parent{
        grid-template-columns: auto;
    }
}
@media screen and (min-width:750px) and (max-width:1024px) {
    h1{
        font-size: 2rem;
    }
    br{
        display: none;
    }
}